.navigation {
    height: 70px;
    background: #262626;
}
.brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 1.4em;
}
.brand a, .brand a:visited {
    color: #fff;
    text-decoration: none;
}
.nav-container {
    max-width: 1000px;
    margin: 0 auto;
}
nav {
    float: right;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    float: left;
    position: relative;
}
nav ul li a, nav ul li a:visited {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    background: #262626;
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover, nav ul li a:visited:hover {
    background: #2581dc;
    color: #fff;
}
nav ul li a:not(:only-child):after, nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    content: &#39;
    ▾&#39;
   ;
}
nav ul li ul li {
    min-width: 190px;
}
nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}
.nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #262626;
    height: 70px;
    width: 70px;
}
@media only screen and (max-width: 1098px) {
    .nav-mobile {
        display: block;
   }
    nav {
        width: 100%;
        padding: 70px 0 15px;
   }
    nav ul {
        display: none;
   }
    nav ul li {
        float: none;
   }
    nav ul li a {
        padding: 15px;
        line-height: 20px;
   }
    nav ul li ul li a {
        padding-left: 30px;
   }
    .nav-dropdown {
        position: static;
   }
}
@media screen and (min-width: 1099px) {
    .nav-list {
        display: block !important;
   }
}
#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #fff;
    position: absolute;
    display: block;
    content: none;
     
    transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
    top: -10px;
}
#nav-toggle span:after {
    bottom: -10px;
}
#nav-toggle.active span {
    background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
}
#nav-toggle.active span:before {
    transform: rotate(45deg);
}
#nav-toggle.active span:after {
    transform: rotate(-45deg);
}
article {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}
ul a{
    text-decoration: none;
   justify-content: baseline;
     padding: 10% 15%; 
    text-align: center;
font-size: 20px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: #f6f6f6;
}
        
    
 ul li:hover {
    background: orange;
}

.deux{
    width: 90%;
    
    border:1px solid darkgray;
    margin-top: 10px;
    margin-left: 10%;
   
}
.feet ul li{
   
  justify-content: space-around; 
  font: 10px sans-serif;
  list-style: none;
  display:inline-block;
}
footer {
    background-color: rgb(128, 133, 128);
    width: 100%;
    height: 70px;
    /* text-align: center; */
    color: white;
    font-family: "SHOWG.TTF";
     padding: 20px 0; 
}

footer{
    display:flex;
    background: #273443;
    color: #f1f1f1;
    width: 100%;
    height: 600px; 
}
footer ul{
    display: flex;
    padding: 56px 20px; 
    width: 100%;
    justify-content: center;
} 
footer li{

    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    font-size: 1.3em;
}
.line{
    margin-top: 20px;
}
footer ul a{
    display: block;
    color: #f1f1f1;
    text-decoration: none;
    font:  10px; ;
}
footer ul a:hover{
    text-decoration: underline white;
}
.base{
    width: 100%;
    height: 50px;
    background-color: #1c1e21;
    display: flex;
    color: white;
    font-size: x-large;
}
.base h4{
    margin-right: 50%;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 0;
}
.base h6{
    margin-top: 10px;
} 
article
{
width: 60%;
margin-right: 15px;
}

img {
    width: 40%;
}

.slider-container {
    max-width: 800px;
    position: relative;
    margin: auto;
    height: 350px;
    overflow: hidden;
}
.menus {
    position: absolute;
    left: 0;
    z-index: 11;
    width: 100%;
    bottom: 0;
    text-align: center;
}
.menus label {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50px;
    margin: 0 0.2em 1em;
}
.menus label:hover,.menus label:focus {
    background: #1c87c9;
}
.slide-input{
    opacity: 0;
}
.slide-img {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    transition: left 0s 0.75s;
}
[id^="slide"]:checked + .slide-img {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
}
article p
{
font-size: 0.8em;
}
aside
{
position: relative;
width: 40%;
/* background-color: #706b64; */
/* box-shadow: 0px 2px 5px #1c1a19; */
border-radius: 5px;
padding: 10px;
color: white;
font-size: 0.9em;
}



